<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'sidebar.html' %}

<div class="main">

<div class="search-box">
<input type="text" id="search" onkeyup="searchStudent()">
<div id="results"></div>
</div>

<div class="card">

<h2>Science</h2>

<a href="/students/science/cs"><button class="button">💻 CS</button></a>
<a href="/students/science/bio"><button class="button">🧬 Bio</button></a>

</div>

</div>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
    function toggleMenu() {
        document.querySelector(".sidebar").classList.toggle("hide");
    }
</script>
</body>
</html>