<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'sidebar.html' %}

<div class="main">

<div class="card">

<h2>👨‍🏫 {{teacher[1]}}</h2>

<p>Subject: {{teacher[2]}}</p>

<hr>

<p>{{teacher[3]}}</p>

{% if session.get('admin') %}
<a href="/edit/teacher/{{teacher[0]}}"><button class="button">Edit</button></a>
<a href="/delete/teacher/{{teacher[0]}}"><button class="button back">Delete</button></a>
{% endif %}

</div>

</div>
<script>
    function toggleMenu() {
    document.querySelector(".sidebar").classList.toggle("hide");
    }
</script>
</body>
</html>
